@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

.App {
  display: grid;
  background: linear-gradient(289.6deg, #0c0c0c 0%, #2c4550 98.22%);
  grid-template-columns: 10% 1fr 1fr 87px;
  grid-template-rows: 10% 62% 28%;
  grid-template-areas:
    "verticalbar navbar navbar navbar"
    "verticalbar main main ."
    "verticalbar footermain footermain footermain";
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
/* 2778x1284 pixels at 458ppi */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.verticalbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  grid-area: verticalbar;
  border-right: solid 1px #fff;
}

.verticalbar h2 {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  margin-top: 1rem;
}
.social-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.social-media a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 1.8rem;
  padding-bottom: 1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  grid-area: navbar;
  padding-top: 1rem;
  padding-right: 1.8rem;
}

.nav-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* MOBILE IMAGES */

.cubesmobile {
  display: none;
}
.astronautmobile {
  display: none;
}

.navbar p {
  color: white;
  padding-right: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
}

.navbar img {
  width: 35px;
  height: 35px;
}

.sunicon {
  height: 35px;
  width: 35px;
}

.hero {
  grid-area: main;
  display: inline-grid;
  grid-template-columns: 50% 50%;
  grid-template-areas: "herotext heroimg";
}

.heroimage {
  grid-area: heroimg;
  justify-self: stretch;
  align-self: start;
  z-index: 5;
}
.astronaut {
  position: absolute;
  width: 323px;
  height: 242px;
  left: 788px;
  top: 127px;
  z-index: 50;
}
.cubes {
  position: absolute;
  width: 1150px;
  height: 898px;
  left: 496px;
  top: -50px;
}

.herotext {
  grid-area: herotext;
  justify-self: end;
  align-self: end;
  margin-bottom: 10rem;
}

.herotext h2 {
  margin-left: 8rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 72px;
  line-height: 79.2px;
}
.herotext p {
  margin-top: -2rem;
  margin-left: 8rem;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-size: 18px;
  line-height: 27px;
}

.footer {
  grid-area: footermain;
  display: inline-grid;
  grid-template-columns: 8.5% 23.5% 38% 10% 20%;
  grid-template-rows: 100%;
  grid-template-areas: " down imgfooter maindescfooter arrowfooter secondescfooter";
  z-index: 10;
  background-image: url("./images/Rectangle2.png");
  background-repeat: cover;
  /* Note: backdrop-filter has minimal browser sup
  z-index: 10;
  /* Note: backdrop-filter has minimal browser support */
}

.footer #mainarticleimg {
  grid-area: imgfooter;
  width: 100%;
  height: 100%;
}

.footer #mainarticleh3 {
  grid-area: maindescfooter;
  font-family: Poppins;
  align-self: start;
  margin-top: 10%;
  margin-left: 15%;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 36px;
  z-index: 20;

  /* identical to box height */

  color: #ffffff;
}

.footer #mainarticlep {
  grid-area: maindescfooter;
  margin-top: 15%;
  margin-left: 15%;
  width: 65%;
  align-self: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 31px;

  color: rgba(255, 255, 255, 0.9);
  z-index: 50;
}

.footer #mainarticlearrow {
  grid-area: arrowfooter;
  align-self: end;
  justify-self: end;
  margin-bottom: 40%;
  margin-right: 100%;
}

.footer #secondarticleh3 {
  grid-area: secondescfooter;
  font-family: Poppins;
  font-family: Poppins;
  align-self: start;
  margin-top: 20%;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5vw;
  line-height: 36px;

  /* identical to box height */

  color: #ffffff;
}

.footer #secondarticlep {
  grid-area: secondescfooter;

  margin-top: 15%;
  width: 65%;
  align-self: center;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1vw;
  line-height: 31px;

  color: rgba(255, 255, 255, 0.9);
  z-index: 20;
}

.footer #mainarticlepmobile {
  display: none;
}

.mobilemenu {
  display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
  .social-media {
    display: none;
  }
  .nav-items p {
    display: none;
  }
  .nav-items .sunicon {
    display: none;
  }
  .nav-items .mobilemenu {
    display: block;
  }
  .nav-items {
    display: flex;
    grid-area: mobilemenu;
  }
  .App {
    grid-template-columns: 20px 1fr 2fr 1fr;
    grid-template-rows: 10% 62% 28%;
    grid-template-areas:
      ". logo . navbar"
      ". main main main"
      "footermain footermain footermain footermain";
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .hero {
    grid-area: main;
    display: inline-grid;
    grid-template-columns: 1fr;
    grid-template-areas: "heroimg";
  }
  .body {
    overflow: hidden;
  }
  .verticalbar {
    grid-area: logo;
    display: block;
    border-right: 0px;
  }

  /* IMAGES MOBILE */

  .cubes {
    display: none;
  }

  .cubesmobile {
    display: block;
    grid-area: heroimg;
    position: relative;
    left: -15px;
    bottom: 45px;
    z-index: 5;
  }

  .astronaut {
    grid-area: heroimg;
    width: 200px;
    height: 140px;
    left: 135px;
    top: 190px;
    z-index: 10;
  }
  .herotext {
    grid-area: heroimg;
    z-index: 20;
    margin-bottom: 150px;
  }

  .herotext h2 {
    margin-left: 1rem;
    font-size: 48px;
    line-height: 36px;
    margin-bottom: 70px;
    z-index: 10;
  }

  .herotext p {
    margin-left: 1rem;
    font-size: 12px;
    line-height: 15px;
    width: 60%;
    z-index: 30;
  }

  .footer {
    grid-template-columns: 10% 50% 40%;
    grid-template-areas: ". footerimg footerdesc";
    background-image: url("./images/Rectangle2.png");
    background-repeat: cover;
    height: 75%;
  }
  .footer #mainarticleimg {
    grid-area: footerimg;
    width: 100%;
    height: 100%;
  }
  .footer #mainarticleh3 {
    grid-area: footerdesc;
    font-size: 15px;
  }

  .footer #mainarticlep {
    display: none;
  }
  .footer #mainarticlepmobile {
    display: block;
    grid-area: footerdesc;
    line-height: 10px;
    font-size: 14px;
    width: 90px;
    margin-top: 15%;
    margin-left: 15%;
    align-self: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;

    color: rgba(255, 255, 255, 0.9);
  }

  .footer #mainarticlearrow {
    grid-area: footerdesc;
    width: 30px;
    height: 10px;
    align-self: end;
    justify-self: end;
    margin-bottom: 10%;
    margin-right: 20%;
  }
}
