body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App{
  display: grid;
  background: linear-gradient(289.6deg, #0c0c0c 0%, #2c4550 98.22%);
  grid-template-columns: 161px auto 87px;
  grid-template-rows: 87px auto 250px;
  grid-template-areas:
    "verticalbar navbar navbar"
    "verticalbar main main"
    "verticalbar main main";
  width: 100vw;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.verticalbar {
  grid-area: verticalbar;
  border-left: white;
  background-color: yellow;
}
.navbar {
  grid-area: navbar;
  background-color: red;
}
.nav {
  grid-area: navbar;
  display: flex;
  flex-direction: row;
}
.sunicon {
  height: 35px;
  width: 35px;
  filter: invert(1);
}
.hero {
  grid-area: main;
  background-color: green;
}
